@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    font-family: "Roboto";
    font-weight: 400; /* жирность шрифта*/
    font-style: normal; /* стиль текста*/
    margin: 0; /* внешние отступы */
    padding: 0; /* внутренние отступы */
    box-sizing: border-box; /* учитывать размеры внешнего и внутреннего пространства */
}

header {
    width: 100%;
    height: 96px;
    background-color: white;
    padding: 0 64px; /* отступ */
    display: flex;
    justify-content: space-between; /* равномерное выравнивание по горизонтали*/
    align-items: center; /* выравнивание по ветикали */
    position: fixed;
}

nav>ul{
    display: flex; /* выравниевание по горизонтали */
    list-style: none; /* убераем маркеры */
    gap: 48px; /* равномерный отступ между элементами */ 
}

nav>ul>li {
    color: #230B59;
}
.for__borrow {
    position: relative;
}
.for__borrow>div {
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    position: absolute;
}


.buttons__header>button {
    background: none;
    border: 2px solid #4840BB;
    padding: 13px 21px;
    border-radius: 6px;
    color: #230B59;
    cursor: pointer;
    transition: all 1s ease;
}

.buttons__header {
    display: flex;
    align-self: center;
    gap: 12px;
}
/* 
.buttons__header>button:first-child{
    color: #4840BB;
}

.buttons__header>button:last-child{
    background: #4840BB;
    color: white;
} */
.buttons__header>button:hover {
    background-color:#230B59;
    color: white;
    transition: all 1s ease;
    cursor: pointer;
}
.banner {
    display: flex;
    gap: 48px;
    align-items: center;
    padding: 190px 0 0 64px;
    width: 100%;
    height: 559px;
}
.banner__text {
    display: flex;
    gap: 40px;
    flex-direction: column;
}
.banner__text>h1 {
    color: #230B59;
    font-size: 50px;
    letter-spacing: 1.9px;
    width: 352px;
    height: 113px;
}

.banner__text>p {
    font-size: 15px;
    line-height: 21.6px;
    color: #230B59;
    width: 249px;
    
}

.get__start1 {
    background: #4840BB;
    font-size: 16px;
    line-height: 21.6px;
    color: white;    
    border: 2px solid #4840BB;
    padding: 11px 20px;
    border-radius: 6px;
    width: 130px;
}

.under__banner {
    padding: 200px 0 0 64px;
    display: flex;
    width: 100%;
    height: 135px;
}

.under__inside {
    display: flex;
    gap: 124px;
    padding: 32px 64px 32px 64px;
}

.under__inside>.svg1 {
    width: 191px;
    height: 71px;
}

.under__inside>.svg2 {
    margin-top: 19px;
    width: 140px;
    height: 52px;
}
.under__inside>.svg3 {
    margin-top: 21px;
    width: 83px;
    height: 50px;
}
.under__inside>.svg4 {
    margin-top: 21px;
    width: 78px;
    height: 50px;
}
.under__inside>.svg5 {
    margin-top: 21px;
    width: 96px;
    height: 50px;
}
.under__inside>.svg6 {
    margin-top: 21px;
    width: 105px;
    height: 50px;
}

.block3 {
    padding: 100px 0 0 80px;
    width: 100%;
    height: 750px;
}
.block3>.block3__inside {
    display: flex;
    padding: 0 64px;
    width: 1152px;
    height: 750px;
}
.block3__inside>.block3__1 {
    display: flex;
    flex-direction: column;
    padding: 163px 64px 163px 0;
    width: 363px;
    height: 425px;
}
.block3__inside>.block3__2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 363px;
    height: 750px;
    left: 395px;

}
.block3__inside>.block3__3 {
    width: 299px;
    height: 194px;
}
.block3__1>h1 {
    color: #230B59;
    font-size: 56px;
    line-height: 54px;
    width: 322px;
    height: 270px;
}

.block3__1>p {
    font-size: 17px;
    line-height: 21.6px;
    color: #230B59;
    width: 361px;
    height: 87px;
}
.block3__line>button:hover {
    background-color:#230B59;
    color: white;
    transition: all 0.5s ease;
    cursor: pointer;
}
.block3__line>button {
    transition: all 0.5s ease;
}
.block3__line {
    display: flex;
    padding: 40px 0 20px;
    gap: 52px;
}
.get__start2 {
    background: #4840BB;
    font-size: 13px;
    line-height: 21.6px;
    color: white;    
    border: 2px solid #4840BB;
    border-radius: 6px;
    width: 145px;
    height: 45px;
}
.get__learn {
    background: none;
    list-style: none;
    font-size: 13px;
    line-height: 21.6px;
    color: #4840BB; 
    border: 2px solid white;
    padding: 11px 20px;
    border-radius: 6px;
    width: 145px;
    height: 45px;
}
.fstsvg {
    width: 299px;
    height: 97px;
}
.sndsvg {
    padding: 320px 0 0 799px;
    margin-left: -1185px;
    margin-top: -30px;
    width: 299px;
    height: 97px;
}